.navbar {
  background: #000;
  padding: 0 300px;
}

.navbar__icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 20px;
}

.icon__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon__box span {
  font-size: 8px;
  margin-top: 6px;
}

.icon__box--available {
  color: #007bff;
  cursor: pointer;
}

.icon__box--unavailable {
  color: #6c757d;
}
