.navbar {
  flex-direction: column;
  background: #000;
  margin-bottom: 40px;
}

.navbar__icons {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin-top: 20px;
}

.icon__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icon__box span {
  font-size: 14px;
  margin-top: 6px;
}

.icon__box:first-child span {
  font-size: 17px;
}

.icon__box--available {
  color: #007bff;
  cursor: pointer;
}

.icon__box--available:hover {
  color: #1986fa;
  transition: color 0.5s;
  text-decoration: none;
}

.icon__box--unavailable, .icon__box--unavailable:hover {
  color: #6c757d;
}

.icon__box--unavailable:hover {
  text-decoration: none;
  cursor: default;
}

.vl {
  border-left: 1px solid black;
    height: 50px;
}